<% if @user %>
	<%= @user.name %>'s Posts
	
	<div class="posts">
		<% @user.links.each do |link| %>
			<div class="post"><%= link_to link.title, "http://#{link.url}" %></div>
		<% end %>
	</div>
	<div class="userinfo">
		Link Score: <%= @user.score %></br>
		Account Age: <%= time_ago_in_words(@user.created_at) %>
	</div>

<% else %>
	<span style="color:red">User does not exist</span>
<% end %>