/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_scaffolds
 *= require_self
 */
.header {
	padding-right: 10px;
}

#logo {
	color: black;
	text-decoration: none;
}

nav li {
	display: inline;
	list-style-type: none;
	padding-right: 2px;
	text-align: right;
	float: right;
}

a {
	color: black;
	text-decoration: none;
	&:visited{
	 color: black;
	 }
	
	&:hover{
	 color: #d3d3d3;
	} 
}

.votes {
	vertical-align: middle;
}

.feed {
	padding-left: 50px;
}

.link_title {
	text-align: center;
}

.userinfo {
	position: fixed;
	top: 25%;
	right: 5%;
	background: #c0c0c0;
	width: 15%;
	text-align: center;
	border-radius: 15px;
	padding: 15px;
}

.post {
	padding-top: 5px;
}