/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_scaffolds
 *= require_self
 */

/* HEADER STYLING */
.header {
	padding-right: 10px;
}

#logo {
	color: black;
	text-decoration: none;
}

nav li {
	display: inline;
	list-style-type: none;
	padding-right: 2px;
	text-align: right;
	float: right;
}

/* INDEX STYLING */
a {
	color: black;
	text-decoration: none;
	&:hover{
	 color: #d3d3d3;
	} 
}

.votes {
	vertical-align: middle;
}

.feed {
	padding-left: 50px;
}

.index_link {
	text-align: center;
	padding: 10px;
}

.submit_link {
	position: absolute;
	bottom: 20%;
	left: 5%;
	background: #23add4;
	border-radius: 25px;
	padding: 10px;
	&:hover {
		box-shadow: 1px 3px 7px #6b6b6b;
	}
}

a.submit_link{
	color: white;

	&:hover {
	color: #ffffff;
	background: #11d6ea;
	}
}

.link_title {
	font-size: medium;
	color: blue;
	
	&:hover {
		text-decoration: underline;
		color: #9393ff;
	}

	&:visited {
		color: #9393ff;
	}
}


/* User Profile Styling */
.userinfo {
	position: relative;
	float: right;
	background: #fffbd6;
	width: 15%;
	text-align: center;
	border-radius: 15px;
	padding: 15px;
}

#edit_account {
	color: red;
	&:hover {
		color: #ff7f7f;
	}
}

#no_user {
	color: red;
}

.post {
	width: 75%;
	padding-top: 5px;
	float: left;
	&:nth-of-type(odd) {
	background: #e6f3f7;
	};
}

/* COMMENT STYLING */
.comments_title{
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #d3d3d3;
}

.comment {
	width: 20%;
	border-style: solid;
	border-color: #d3d3d3;
	border-width: thin;
	border-radius: 25px;
	padding-left: 10px;
	margin-bottom: 10px;
}

.comment_body {
	padding-top: 10px;
	padding-left: 10px;
	width: 75%;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #d3d3d3;
}

.comment_info {
	padding-bottom: 10px;
}

/* FORM STYLING */

.field {
	padding-bottom: 10px;
	margin-left: 10px;
}

.new_link_button {
	background-color: #23add4;
	color: white;
	border-radius: 25px;
	border-color: white;
	border-style: thin;
	box-shadow: -3px 3px 8px #7e7e7e;
	padding: 5px;
	margin-left: 8px;
	width: 150px;
	&:hover {
		background-color: #11d6ea;
	}
}

.new_links_page {
	padding-left: 20px;
}