<h1><%= @subreddit.title %></h1>
<%= link_to 'New Link', new_subreddit_link_path(@subreddit), class: 'submit_link' %>

<% @subreddit.links.each do | link | %>
	<p class="link"><%= link_to(link.title, subreddit_link_path(@subreddit, link)) %></p>
<% end %>